@import url("https://fonts.google.com/specimen/Montserrat");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
  max-width: 100%;
  position: relative;
  background-color: var(--Very-Light-Grayish-Blue);
}

.back-top-img {
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  z-index: -1;
  top: -5%;
  right: 0;
}

.back-bottom-img {
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -12%;
}

main {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px;
  margin-bottom: 50px;
}

.top-section h1 {
  color: var(--Grayish-Blue);
}

.toogle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-top: 16px;
  color: var(--Light-Grayish-Blue);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 400px;
}

.card {
  min-width: 380px;
  border-radius: 16px;
  padding: 16px;
  background-color: white;
}

.card h3 {
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
  margin-top: 16px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.price p {
  font-size: 4.5rem;
  color: var(--Dark-Grayish-Blue);
}

.icon span {
  line-height: 1;
  font-size: 2.5rem;
  color: var(--Dark-Grayish-Blue);
  margin-right: 10px;
}

.year {
  display: none;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  font-size: 1.2rem;
  color: var(--Grayish-Blue);
}

.storage {
  border-top: 1px solid var(--Light-Grayish-Blue);
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  padding: 16px 0;
}

.users {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  padding: 16px 0;
}

.allowed-send {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  padding: 16px 0;
  margin-bottom: 16px;
}

.button {
  width: 90%;
  height: 6vh;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 9.6px;
  background-color: hsl(237, 63%, 64%);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  word-spacing: 2px;
  transition: all 0.3s;
}

.button:hover {
  background-color: transparent;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}

#cards .card:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  height: 60vh;
}

#cards .card:nth-child(2) * {
  color: white;
}

#cards .card:nth-child(2) button {
  background-color: white;
  color: hsl(237, 63%, 64%);
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

#cards .card:nth-child(2) button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.attribution {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.attribution a {
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
    gap: 32px;
  }

  .back-bottom-img {
    display: none;
  }
}
